body {
    font-family: 'Montserrat', sans-serif;
    background-color: #00FFFF;
    margin: 0;
    padding: 0;
    user-select: none;
}

.container {
    max-width: 800px;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    margin-bottom: 20px;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-group {
    flex: 0 0 calc(48% - 10px);
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus,
select:focus {
    border-color: #3498db; /* Light blue border on focus */
    outline: none; /* Remove default focus outline */
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5); /* Light blue box shadow on focus */
}

button {
    padding: 12px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 335px;
    transition: background-color 0.3s ease;
}

#visualbutton{
    margin-left: 310px;
}
button:hover {
    background-color: #0056b3;
}
